<p id="notice"><%= notice %></p>

<h1>Random Trees</h1>

<%= link_to 'New Factory', new_factory_path %>
<body>
<div class="container">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Lower</th>
        <th>Upper</th>
        <th>Quantity</th>
        <th>Random Numbers</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @factories.each do |factory| %>
        <tr>
          <td><%= factory.name %></td>
          <td><%= factory.lower_limit %></td>
          <td><%= factory.upper_limit %></td>
          <td><%= factory.node_quantity %></td>
          <td><%= factory.number.join(", ").html_safe %></td>
          <td><%= link_to 'Show', factory %></td>
          <td><%= link_to 'Edit', edit_factory_path(factory) %></td>
          <td><%= link_to 'Destroy', factory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<br>
</div>
</body>

