<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @factory.name %>
</p>

<p>
  <strong>Lower:</strong>
  <%= @factory.lower_limit %>
</p>

<p>
  <strong>Upper:</strong>
  <%= @factory.upper_limit %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @factory.node_quantity %>
</p>

<%= link_to 'Edit', edit_factory_path(@factory) %> |
<%= link_to 'Back', factories_path %>
